.btn-projects {
  background-color: #2196F3; 
  color: white;
}

.btn-projects:hover {
  background-color: #1976D2;
}

/* 교육 버튼 */
.btn-education {
  background-color: #4ba34e; 
  color: white;
}

.btn-education:hover {
  background-color: #388E3C;
}

/* 기술 버튼 */
.btn-skills {
  border: white;
  color: white;
}

.btn-skills:hover {
  background-color: #F57C00;
}